<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>GapVis: Visual Interface for Reading Ancient Texts</title>
    <meta name="description" content="GapVis is a visual interface for reading ancient texts for the Google Ancient Places project.">
    <meta name="author" content="Nick Rabinowitz / Google Ancient Places Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./joth.css">
    
    <script type="text/javascript" src="config/settings.dev.js">
</script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
    <script type="text/javascript" src="lib/jquery/jquery-1.7.2.min.js">
</script>
    <script type="text/javascript" src="lib/timeline-2.3.0.js">
</script>
    <script type="text/javascript" src="app/util/shim.js">
</script>
    <script type="text/javascript" src="lib/augment-0.3.1.min.js">
</script>
    <script type="text/javascript" src="node_modules/capitains-sparrow/dist/cts.js">
</script>
    <script type="text/javascript" src="lib/requirejs/require.js">
</script>
    <script type="text/javascript" src="lib/underscore/underscore.js">
</script>
    <script type="text/javascript" src="lib/bootstrap3/js/transition.js">
</script>
    <script type="text/javascript" src="lib/bootstrap3/js/button.js">
</script>
    <script type="text/javascript" src="lib/bootstrap3/js/modal.js">
</script>
    <script type="text/javascript" src="lib/bootstrap3/js/tooltip.js">
</script>
    <script type="text/javascript" src="lib/mxn/mxn.js">
</script>
    <script type="text/javascript" src="lib/mxn/mxn.core.js">
</script>
    <script type="text/javascript" src="lib/mxn/mxn.googlev3.core.js">
</script>
    <script type="text/javascript" src="lib/timemap/src/timemap.js">
</script>
    <script type="text/javascript" src="lib/timemap/src/param.js">
</script>
    <script type="text/javascript" src="lib/timemap/src/state.js">
</script>
    <script type="text/javascript" src="lib/timemap/src/loaders/progressive.js">
</script>
    <script type="text/javascript" src="lib/backbone/backbone.js">
</script>
    <script type="text/javascript" src="lib/backbone-spf/spf.js">
</script>
    <script type="text/javascript" src="lib/d3/d3.js">
</script>
    <script type="text/javascript" src="lib/d3/d3.geom.js">
</script>
    <script type="text/javascript" src="lib/d3/d3.layout.js">
</script>
    <script type="text/javascript" src="lib/timemap/src/ext/circle_icons.js">
</script>
    <script type="text/javascript" src="lib/label_utils.js">
</script>
    <script type="text/javascript" src="app/util/patches.js">
</script>
    <script type="text/javascript" src="app/app.js">
</script>
    
    <!-- ANALYTICS -->
</head>

<body>

    <div id="container" class="container">
    <div class="row">
        <div class="page-title">
            <a href="http://www.perseids.org/sites/joth">Journey of the Hero</a>
        </div>
    </div>
    <div>
        <div id="app-view" role="main" class="clearfix"></div>
    </div>
        <footer>
            GapVis (c) 2011 <a href="http://www.nickrabinowitz.com">Nick Rabinowitz</a> / <a href="http://googleancientplaces.wordpress.com/">Google Ancient Places</a>. Modifications 2015 by the <a href="http://sites.tufts.edu/perseids">Perseids Project at Tufts University</a> and the <a href="http://www.dh.uni-leipzig.de/wo/">Humboldt Chair at the University of Leipzig</a>.
           <div class="datarights">Text and annotation data licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-ShareAlike 3.0 United States License.</a></div>
        </footer>
    </div>
<div style="display:none;">
    <div id="message-view">
        <div class="alert">
            <button class="close">&times;</button>
            <span></span>
        </div>
    </div>
    
    <div id="change-this-link">
        <button class="btn" title="Report an Issue"><i class="glyphicon glyphicon-edit"></i></button>
    </div>
    
    <div id="change-this-form" class="modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close cancel">&times;</button>
            <h3>Report an Issue</h3>
        </div>
        <div class="modal-body">
            <p>Is something wrong with this place reference? Let us know, so we can fix it!</p>
            <p>
                Reference: <span class="ref">"<span id="ctf-place-name"></span>" (<span id="ctf-book-title"></span><span class="pagenum">, 
                p. <span id="ctf-page-id"></span></span>)</span>
            </p>
            <form>
                <label for="ctf-problem">What's wrong here?</label>
                <div>
                    <textarea id="ctf-problem" name="note" rows="5"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn cancel">Cancel</button>
            <button class="btn btn-primary submit">Submit</button>
        </div>
    </div>
	</div>
	</div>
</div>
<script type="text/template" id="bars-header-template">
    <h3>Top Places</h3>
    <div>
        <span class="control ref">Most referenced</span> | 
        <span class="control alpha">Alphabetical</span>
    </div>
</script>
<script type="text/template" id="book-hestia-text-template">
    <p>
        The map below gives a big-picture perspective on the places referenced in the Histories. In total, some 691 ancient places are referenced by Herodotus. The graph on the right displays these places according to their rank (‘Most referenced’) or alphabetical order, and where they appear in the narrative.
    </p>
    <p>
        <button class="btn btn-primary goto-reading">Go to Reading View <i class="glyphicon glyphicon-chevron-right glyphicon-white"></button>
    </p>
</script>
<script type="text/template" id="book-list-item-template">
    <span class="book-title control on"><%= title %></span><br>
    <em><%= author %></em>
</script>
<script type="text/template" id="book-list-template">
    <div>
        <h3>Select a book to view:</h3>
        <div class="book-list"></div>
    </div>
</script>
<script type="text/template" id="book-title-template">
    <h2 class="book-title"><%= title %></h2>
    <p><em>By <%= author %></em></p>
    <p>
        <!-- Published <%= printed %>, <%= pages.length %> pages &middot; --> 
        <a href="<%= viewonlink %>" target="_blank"><%= viewon %></a>
      <br/>
      <span class="download">Download Annotations:
        <a href="<%= datalinks['places'] %>" download="places.json">Places</a>, 
        <a href="<%= datalinks['persons'] %>" download="persons.json">Persons</a>, 
        <a href="<%= datalinks['citations'] %>" download="citations.json">Citations</a> 
      </span>
    </p>
    <%= intro %>
</script>
<script type="text/template" id="flickr-photo-template">
    <div class="flickr-photo">
        <a href="<%= link %>" title="<%= title %>" target="_blank"><img src="<%= src %>" alt="<%= title %>"></a>
    </div>
</script>
<script type="text/template" id="flickr-photos-template">
    <div>
        <h4>Photos from Flickr</h4> <span class="flickr-link">&middot <a href="" target="_blank">View on Flickr &gt;&gt;</a></span>
        <div class="photos"></div>
    </div>
</script>
<script type="text/template" id="hestia-title-template"><h2 class="book-title">The Histories of Herodotus</h2>
    <!--p><em>By <%= author %></em></p-->
    <p>
        <!-- Published <%= printed %>, <%= pages.length %> pages &middot; --> 
        <a href="<%= viewonlink %>" target="_blank"><%= viewon %></a>
    </p>
    <%= intro %>
</script>
<script type="text/template" id="index-summary-template">
<h2>Project Summary</h2>
    <div class="thumbs">
      <img src="images/thumb4.jpg" alt="Map view">
      <img src="images/thumb3.jpg" alt="Network view">
    </div>
    <p>Students in Marie-Claire Beaulieu’s 2015 Journey of the Hero class at <a target="_blank" href="http://tufts.edu">Tufts University</a>, mentored by Teaching Assistants Anna Krohn and Michal Sagal, annotated entries in William Smith’s Dictionary of Greek and Roman biography and mythology. Software development by Bridget Almas and Thibault Clérice was made possible through a collaboration between the <a href="http://sites.tufts.edu/perseids" target="_blank">Perseids Project</a>, funded by the <a href="http://www.mellon.org/" target="_blank">Andrew W. Mellon Foundation</a>, and <a target="_blank" href="http://www.dh.uni-leipzig.de/wo/">the Humboldt Chair of Digital Humanities at Leipzig</a>.</p>
<p>The objectives of the project were twofold. First, students explored the stories linked to a particular ancient hero or heroine in detail; second, they produced a set of assertions describing the social network of their hero or heroine and the ancient places to which they are connected.  When aggregated together and visualized in context, the data produced by the students offers a powerful research tool to explore Greek mythology. We can now understand how social networks intersect in the geographical space of the ancient world, thus connecting specific sets of stories with others to create meaning. Further layers will be added in future iterations of the class, such as attestations in ancient texts that support the information given in the publication. 
</p>
<p>A primary goal of Perseids is to encourage and enable reuse of tools, texts and data. We leveraged a number of existing projects to make the annotation workflow and publication of this data possible. Students used the open source <a href="https://hypothes.is" target="_blank">Hypothes.is</a> browser plugin to annotate the text of Smith's Dictionary on Perseus. We developed a data transformation module for the Perseids platform to ingest and transform these annotations, allowing them to go through a review workflow. The transformation adds stable identifiers and applies controlled vocabulary terms from the <a href="http://snapdrgn.net/" target="_blank">SNAP</a> and <a href="http://lawd.info" target="_blank">LAWD</a> ontologies. The annotations are stored in a versioned repository and serialized as data adhering to the <a target="_blank" href="http://www.openannotation.org/">Open Annotation</a> data model.</p>
<p>This interface in which the annotations are presented is a reuse of the GapVis interface for exploring and reading texts that reference ancient places. GapVis was originally developed by the <a href="https://googleancientplaces.wordpress.com/" target="_blank">Google Ancient Places</a> project (See also the full list of <a href="https://googleancientplaces.wordpress.com/the-team/" target="_blank">GapVis team members</a>.) We extended GapVis to add support for Open Annotations and for ingesting text from a <a target="_blank" href="http://www.homermultitext.org/hmt-docs/specifications/cts/specification.html">Canonical Text Services</a> endpoint. 
<p>
<!--[if lt IE 9]>
<p class="warning">
    To use all features of this application, we strongly recommend using a modern browser, such as IE9, Chrome, or Firefox.
</p>
<![endif]-->
</script>
<script type="text/template" id="index-overview-template">
<h3>Book Summary</h3>
<p>
    The Summary view gives you a big-picture perspective on what places are referenced in the book and where they appear in the narrative structure.
</p>
<h3>Reading View</h3>
<p>
    The Reading view offers an interface for reading the text, including a narrative timeline and a map of recently-referenced places.
</p>
</script>
<script type="text/template" id="info-window-template">
    <em><%= title %> <span class="zoom control on">(Zoom In)</span></em>
    <p><small><%=description %></small></p>
    <div class="frequency-bars"></div>
    <p>
        <span class="frequency"><%= frequency %></span> reference<%= frequency == 1 ? "" : "s" %><span class="controls">:
        
            <span class="control prev">&lt;&lt; prev</span> | 
            <span class="control next">next &gt;&gt;</span>
        </span>
    </p>
</script>
<script type="text/template" id="navigation-view-template">
    <nav data-toggle="buttons-radio">
    	
      <button 
    		class="btn-nav" 
    		title="Summary View" 
    		data-view-id="book-summary">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-star">
                        </span>
                    </div>
                    <span class="text">
            		Summary View
                    </span>
                    </div>
                </div>
            </div>
    	</button>
    	
      <button 
    		class="btn-nav" 
    		title="Reading View" 
    		data-view-id="reading-view">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-book">
                        </span>
                    </div>
                    <span class="text">
            		Reading View
                    </span>
                </div>
                </div>
            </div>
        </button>
      <!--
      <button 
    		class="btn-nav" 
    		title="Place Detail" 
    		data-view-id="place-view">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-globe">
                        </span>
                    </div>
                    <span class="text">
            		Place Detail
                    </span>
                    </div>
                </div>
            </div>
        </button>
    	
    	<button 
    		class="btn-nav" 
    		title="Social Network" 
    		data-view-id="social-network-view">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-user">
                        </span>
                    </div>
                    <span class="text">
            		Social Network
                    </span>
                    </div>
                </div>
            </div>
        </button>
        
        <button 
            class="btn-nav" 
            title="Other Sources" 
            data-view-id="social-network-view">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-th-list">
                        </span>
                    </div>
                    <span class="text">
                    Other Sources
                    </span>
                    </div>
                </div>
            </div>
        </button>
        
        <button 
            class="btn-nav" 
            title="Other Sources" 
            data-view-id="social-network-view">
            <div class="square">
                <div class="square-content">
                    <div class="square-cell">
                        <div class="logo">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </div>
                        <span class="text">
                        Annotators
                        </span>
                    </div>
                </div>
            </div>
        </button>
        -->
    	<!--<a 
            class="permalink btn btn-primary" 
            title="Permalink" href="#">
            <i class="glyphicon glyphicon-bookmark glyphicon-white"></i>
        </a>-->
    </nav>
</script>
<script type="text/template" id="page-control-template">

    <button class="btn-nav prev control">
        <div class="square">
            <div class="square-content">
                <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-menu-left">
                        </span>
                    </div>
                    <span class="text">
                    Previous
                    </span>
                </div>
            </div>
        </div>
    </button>
    <button class="btn-nav next control">
        <div class="square">
            <div class="square-content">
                <div class="square-cell">
                    <div class="logo">
                        <span class="glyphicon glyphicon-menu-right">
                        </span>
                    </div>
                    <span class="text">
                    Next
                    </span>
                </div>
            </div>
        </div>
    </button>
    <!--
    <div class="nextprev">
        <span class="prev control">&lt;&lt; previous</span>
        <input class="page-id" maxlength="8">
        <span class="next control">next &gt;&gt;</span>
    </div>
    -->
</script>
<script type="text/template" id="page-template">
    <% _.each(texts, function(t){ %><div class="text<% if(t.lang){ %>-<%=t.lang%><%}%>" lang="<%= t.lang %>"><%= t.text %></div> <% }); %>
    <div class="img"><% if (image) { %><img src="<%= image %>"><% } else { %>(No image available)<% } %></div>
</script>
<script type="text/template" id="perseus-page-template">
    <div style="overflow-y: scroll; height: 100%">
        <%= out %>
    </div>
</script>
<script type="text/template" id="place-summary-template">
    <h3><%= title %></h3>
    <div class="frequency-bars"></div>
    <p><!-- http%3A%2F%2Fpleiades.stoa.org%2Fplaces%2F -->
        <span class="frequency"><%= frequency %></span> reference<%= frequency == 1 ? "" : "s" %> | <span class="change-this control on">Report a problem with this record</span> <span class="change-this-divider">|</span> <a href="<%= uri %>" target="_blank">Find out more in the Pleiades Gazetteer</a> | <a href="http://pelagios.dme.ait.ac.at/api/places/<%= encodeURIComponent(uri) %>" target="_blank">Find related documents via Pelagios</a>
    </p>
    <div></div>
    <!-- <ul>
        <li><a href="<%= uri %>" target="_blank">Place page on Pleiades</a></li>
        <li><a href="http://pelagios.dme.ait.ac.at/api/places/http%3A%2F%2Fpleiades.stoa.org%2Fplaces%2F<%= id %>" target="_blank">References in Pelagios</a>
        </li>
    </ul> -->
    <div class="place-references"></div>
</script>
<script type="text/template" id="social-network-template">
    <h4>Network of People</h4>
    <div class="graph"></div>
</script>
<script type="text/template" id="timemap-legend-template">
    <span class="timemap-legend-by-frequency">Least referenced <span class="images"></span> Most referenced</span>
    <span class="timemap-legend-by-feature"><span class="place-types"></span></span>
</script>
<script type="text/template" id="timemap-template">
    <h4>Map</h4>
    <div class="map-container">
        <div class="map"></div>
    </div>
    <div class="timeline-container">
        <div class="timeline"></div>
        <div class="timeline-controls">
            <div class="timeline-play ir on">Play</div>
            <div class="timeline-stop ir">Stop</div>
        </div>
    </div>
</script>
<script type="text/template" id="layout-2col">
    <div class="layout">
        <div class="row full-height">
            <div class="left-column span5 full-height"></div>
            <div class="right-column span7 full-height" ></div>
        </div>
    </div>
</script>
<script type="text/template" id="layout-book-2panel">
    <div class="layout">
        <div>
            <div class="navigation-view"></div>
            <div class="book-title-view"></div>
        </div>
        <div class="bottom-slot row-fluid fill">
            <div class="left-panel span5 full-height"></div>
            <div class="right-panel span7 full-height"></div>
        </div>
    </div>
</script>
<script type="text/template" id="layout-book-3panel">
    <div class="layout">
        <div>
            <div class="navigation-view"></div>
            <div class="book-title-view"></div>
        </div>
        <div class="bottom-slot fill">
            <div class="row-fluid full-height">
                <div class="left-column span7 full-height">
                    <div class="text-slot"></div>
                    <div class="left-panel fill"></div>
                </div>
                <div class="right-column right-panel span5 full-height"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="layout-full-bottom">
    <div class="top-slot"></div>
    <div class="bottom-slot fill"></div>
</script>
<script type="text/template" id="layout-full-top">
    <div class="top-slot fill"></div>
    <div class="bottom-slot"></div>
</script>
<script type="text/template" id="layout-joth">
    <div class="layout">
        <div class="row">
            <div class="col-md-1 full-height">
                <div class="navigation-view">
                </div>
                <div class="subnavigation-view">
                </div>
            </div>
            <div class="left-column col-md-6">
                <div class="left-title">
                </div>
                <div class="left-content">
                </div>
            </div>
            <div class="right-column col-md-5" >
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="citations-template">
    <div>
        <h4>
            Attestations
        </h4>
        <ul class="attestations-list">
            <% _.each( citations, function( citation ){ %>
                <li>
                    <a style="color:black;" href="<%=citation.link%>" alt="<%=citation.urn%>"><em><%= citation.title %></em> <%= citation.passage %>, <%= citation.author %></a><br />
                    <div class="text"><%= citation.text %></div>
                </li>
            <% }) %>
        </ul>
    </div>
</script>
<script type="text/template" id="annotators-template">
    <div>
        <h4>
            Annotated by
        </h4>
        <ul class="attestations-list">
            <li><%= annotators.join(", ") %></li>
        </ul>
    </div>
</script>
</body>
</html>

